    * {
        box-sizing: border-box;
        border: 1px grey dotted;
    }

    #drum-machine {
        position: relative; 
        height: 100%;
        width: 100%;
        background-color: antiquewhite;

    }

    body {
        background-color: antiquewhite;
        height: 90vh;
        width: 100%;
    }

    html, body {
        margin: 0;
        padding: 0;
        
    }

    