    * {
        box-sizing: border-box;
        border: 1px grey dotted;
    }
    
    .board {
        display: grid;
        height: 60%;
        width: 60%;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 10%;
        background-color: rgb(50, 50, 50);
        align-content: center;
        border: black inset 3px;
        padding: 2%;


        
    }

    .drum-pad {
        text-align: center;
        background-color: rgb(150, 110, 190);
        border: 3px inset black;
    }

 