  * {
      box-sizing: border-box;
      /* border: 1px grey dotted; */
  }

  .motherboard {
      display: flex;
      flex-direction: row;
      width: 800px;
      height: 500px;
      border: 10px rgb(25, 90, 99) solid;
      margin-top: 40px;
  }

  @media (max-width: 799px) {
      .motherboard {
          flex-direction: column;
          width: 400px;
          height: 550px;
      }

    

      .drum-pad {
          width: 100px;
          height: 80px;
      }

      .drum-pad h1 {
          position: relative;
          font-size: medium;
      }

    
  }
  
  .board {        
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      gap: 3%;
      background-color: rgb(50, 50, 50);
      padding: 15px; 
      position: relative; 
  }

  .drum-pad {
      text-align: center;
      background-color: rgb(150, 110, 190);
      border: 3px inset black;
      border-radius: 13px;
      box-shadow: cyan 0px 0px 10px;
  }

  .drum-pad:active {
    box-shadow: none;
  }

  .drum-pad h1 {
      display: block;
      position: relative;
      top: 25%;
  }

  .clip {
      display: none;
  }




    .switches {    
        
        width: 100%;
        height: 100%;
        background-color: rgb(50, 50, 50);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .power h4 {
        position: relative;
        margin-bottom: 2px;
        margin-left: -2px;
        color: lightblue;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
      }

      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: aqua;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        right: 2px;
        bottom: 1px;
        background-color: rgb(50, 50, 50);
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: white;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px white;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(-16px);
        -ms-transform: translateX(-16px);
        transform: translateX(-18px);
      }

  .power label {
    border: 1px solid silver;
  }

  .display {
    display: block;
    width: 80%;
    height: 30px;
    background-color: rgb(127, 230, 230);
    margin-top: 30px;
    border: 5px inset black;
    

  }

  .display h4 {
    display: block;
    margin: auto;
    position: relative;
    top: 1px;
    text-align: center;
  }

  .vol {
    display: block;
    position: relative;
    width: 80%;
    margin-top: 30px;
  }

  .vol #myRange {
    width: 100%;
    margin-left: -0.3px;
  }

  .bank {
    position: relative;
    bottom: 20px;
  }

  .bank h4 {
    position: relative;
    bottom: -10px;
    color: lightblue;

  }

  .slider.round {
    border-radius: 34px;
    margin-bottom: 1.5px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    
  }

  .bank input:checked + .slider {
    background-color: mediumaquamarine;
  }
